[submodule "GGDataBase"]
	path = GGDataBase
	url = https://mjstephens@github.com/Galaxy-Gourd/GGDataBase.git
[submodule "GGDataUnity"]
	path = GGDataUnity
	url = https://mjstephens@github.com/Galaxy-Gourd/GGDataUnity.git
[submodule "GGLoad"]
	path = GGLoad
	url = https://mjstephens@github.com/Galaxy-Gourd/GGLoad.git
[submodule "GGTickBase"]
	path = GGTickBase
	url = https://mjstephens@github.com/Galaxy-Gourd/GGTickBase.git
[submodule "GGTickUnity"]
	path = GGTickUnity
	url = https://mjstephens@github.com/Galaxy-Gourd/GGTickUnity.git
[submodule "GGPoolBase"]
	path = GGPoolBase
	url = https://mjstephens@github.com/Galaxy-Gourd/GGPoolBase.git
[submodule "GGPoolUnity"]
	path = GGPoolUnity
	url = https://mjstephens@github.com/Galaxy-Gourd/GGPoolUnity.git
[submodule "GGDevice"]
	path = GGDevice
	url = https://mjstephens@github.com/Galaxy-Gourd/GGDevice.git
[submodule "GGUI"]
	path = GGUI
	url = https://mjstephens@github.com/Galaxy-Gourd/GGUI.git
[submodule "GGTestSceneRunner"]
	path = GGTestSceneRunner
	url = https://mjstephens@github.com/Galaxy-Gourd/GGTestSceneRunner.git
[submodule "GGUIComponents"]
	path = GGUIComponents
	url = https://mjstephens@github.com/Galaxy-Gourd/GGUIComponents.git
[submodule "GGConsoleBase"]
	path = GGConsoleBase
	url = https://mjstephens@github.com/Galaxy-Gourd/GGConsoleBase.git
[submodule "GGConsoleUnity"]
	path = GGConsoleUnity
	url = https://mjstephens@github.com/Galaxy-Gourd/GGConsoleUnity.git
[submodule "GGInput"]
	path = GGInput
	url = https://mjstephens@github.com/Galaxy-Gourd/GGInput.git
[submodule "GGPhysics"]
	path = GGPhysics
	url = https://mjstephens@github.com/Galaxy-Gourd/GGPhysics.git
[submodule "GGInterpolation"]
	path = GGInterpolation
	url = https://mjstephens@github.com/Galaxy-Gourd/GGInterpolation.git
[submodule "GGUpdate"]
	path = GGUpdate
	url = https://mjstephens@github.com/Galaxy-Gourd/GGUpdate.git
